<!-- templates/webgrader/success.html-->
{% extends 'home.html' %}

{% load static %}

{% block title %}Submitted Successfully{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="main-content" style="margin-top: 50px;">
  <h1>Submitted Successfully</h1>

  <p style="text-align: center;">
    <a href="{% url 'webgrader:index' %}">Back to problem list</a>
  </p>
</div>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}